/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/
/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/
/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/
/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/
/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/
/*---------------------------------------------------------------
6.0 Responsive
---------------------------------------------------------------*/
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/
body,
html {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%; }

.wrapper {
  min-height: 100%;
  overflow-x: hidden;
  position: relative; }

ul,
ol {
  padding: 0;
  margin-bottom: 0; }

ol {
  margin-left: 1.1em; }

address {
  margin-bottom: 0; }

img {
  height: auto;
  max-width: 100%; }

/*---------- Heading ----------*/
h1 {
  font-size: 100px;
  font-weight: 400; }

h2, h2 a {
  font-size: 48px;
  font-weight: 500; }
  @media only screen and (max-width: 1499px) {
    h2, h2 a {
      font-size: 35px; } }

h3, h3 a {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px; }
  @media only screen and (max-width: 1499px) {
    h3, h3 a {
      font-size: 24px; } }

h4, h4 a {
  font-size: 24px;
  font-weight: 500; }
  @media only screen and (max-width: 1499px) {
    h4, h4 a {
      font-size: 19px; } }

h5, h5 a {
  font-size: 20px;
  font-weight: 400; }

h6, h6 a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600; }
  @media only screen and (max-width: 1499px) {
    h6, h6 a {
      font-size: 14px; } }

p {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  color: #000000; }

span {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #000000; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-family: "Poppins", sans-serif;
  white-space: normal;
  word-break: break-all; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
pre,
#calendar_wrap caption {
  word-break: break-word;
  word-wrap: break-word; }

/*---------- Form ---------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: "Poppins", sans-serif;
  padding: 8px 15px;
  border: 1px solid #fdb812;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-transform: uppercase;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 50px;
  line-height: 2.1em;
  min-width: 147px;
  color: #ffffff;
  background: #fdb812; }

button:hover,
button:focus,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  border: 1px solid #fdb812;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ffffff;
  color: #fdb812; }

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: 0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
.form-control {
  padding: 2px 20px;
  width: 100%;
  border-radius: 50px;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 18px;
  border: 1px solid #bcbcbc; }
  @media only screen and (max-width: 1499px) {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="number"],
    .form-control {
      font-size: 15px;
      padding: 2px 15px; } }

textarea.form-control {
  padding: 20px;
  resize: none; }
  @media only screen and (max-width: 1499px) {
    textarea.form-control {
      padding: 15px; } }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"] {
  height: 55px; }
  @media only screen and (max-width: 1499px) {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="number"] {
      height: 45px; } }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea.form-control:focus,
.form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.slick-slide {
  outline: none; }

.form-control::-webkit-input-placeholder {
  color: #000000; }

.form-control::-moz-placeholder {
  color: #000000; }

.form-control:-ms-input-placeholder {
  color: #000000; }

input:-moz-placeholder {
  color: #000000; }

select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  border: 1px solid #cccccc;
  height: 50px;
  outline: medium none;
  padding: 5px;
  text-indent: 1px;
  text-transform: none;
  width: 100%;
  background: white url("../images/select-arrow.png") no-repeat scroll 80% center; }

select::-ms-expand {
  display: none; }

/*---------- 2.1.3 Links ----------*/
a {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
  color: #fdb812; }

/*---------- 2.2 Table -----------*/
table,
th,
td {
  border: 1px solid #eaeaea; }

table {
  width: 100%; }

th,
td {
  padding: 0.4375em; }

table,
dd,
address {
  margin: 0 0 1.75em; }

/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/
.header {
  border-top: 4px solid #fdb812; }

.header .navbar {
  padding: 0px; }

.header .navbar ul li a {
  font-size: 15px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.header .navbar ul li a:hover {
  color: #fdb812; }

.header .navbar ul li {
  margin: 0 15px; }

.header .navbar ul.contact-info {
  margin-left: 40px; }

.header .navbar ul li {
  position: relative; }

.header .navbar ul.nav li.current-menu-item a::after,
.header .navbar ul.nav li:hover a::after {
  content: "";
  background: #fdb812;
  height: 2px;
  width: 85%;
  text-align: center;
  margin: 4px auto 0px;
  display: block; }

.header .navbar ul li.telephone-sec::before {
  position: absolute;
  content: "\f095";
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -20px;
  font-family: FontAwesome;
  color: #fdb812; }

.header .navbar ul li:last-child {
  margin-right: 0px; }

.header .navbar ul li.login-sec a {
  background: #fdb812;
  display: inline-block;
  width: 100px;
  color: #ffffff;
  text-align: center;
  line-height: 2.5em;
  border-radius: 50px;
  border: 1px solid #fdb812; }

.header .navbar ul li.login-sec a:hover {
  background: #ffffff;
  color: #fdb812; }

.header .navbar .collapse {
  padding-top: 15px; }

/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/
svg.hidden {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none; }

/*----- Banner Section -----*/
.banner-section {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 0px; }
  .banner-section .banner-form-sec {
    background: #ffffff;
    border-radius: 8px;
    padding: 30px;
    width: 430px; }
    @media only screen and (max-width: 1499px) {
      .banner-section .banner-form-sec {
        width: 400px; } }
    .banner-section .banner-form-sec h3 {
      font-weight: 500;
      text-transform: uppercase; }
      .banner-section .banner-form-sec h3 small {
        font-size: 30px;
        font-weight: 300;
        margin-left: 5px; }
        @media only screen and (max-width: 1499px) {
          .banner-section .banner-form-sec h3 small {
            font-size: 24px; } }
    .banner-section .banner-form-sec span {
      margin-bottom: 30px;
      display: block; }
    .banner-section .banner-form-sec form .form-group {
      margin-bottom: 10px; }
    .banner-section .banner-form-sec form .button {
      width: 100%;
      margin-top: 20px;
      font-size: 22px;
      font-weight: 500;
      padding: 5px; }
      @media only screen and (max-width: 1499px) {
        .banner-section .banner-form-sec form .button {
          font-size: 18px;
          margin-top: 15px; } }

/*----- Services Section -----*/
.service-section-block {
  margin-top: -15px; }
  .service-section-block ul {
    background: #ffffff;
    padding: 30px 20px 30px 60px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }
    .service-section-block ul li {
      width: 24%;
      display: inline-block;
      border-right: 2px solid #b6b6b6;
      position: relative;
      text-align: center;
      margin: 0 auto; }
      .service-section-block ul li span {
        font-size: 17px;
        color: #000000;
        font-weight: 500;
        margin-bottom: 0px;
        padding-left: 40px;
        display: inline-block;
        text-align: left; }
        .service-section-block ul li span.icon {
          position: absolute;
          left: 30px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          padding-left: 0px; }
      .service-section-block ul li:last-child {
        border: none; }
      .service-section-block ul li:first-child .icon {
        left: 10px; }

/*---- Service Sec Section -----*/
.service-sec-block {
  padding: 70px 0px; }
  .service-sec-block .service-grid-content a {
    display: inline-block;
    background: #fdb812;
    border: 1px solid #fdb812;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    width: 188px;
    line-height: 3.5em;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px; }
    .service-sec-block .service-grid-content a:hover {
      background: #ffffff;
      color: #fdb812; }
  .service-sec-block .service-grid {
    height: 275px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative; }
    .service-sec-block .service-grid .service-content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7); }
      .service-sec-block .service-grid .service-content h6 {
        margin-bottom: 0px; }
        .service-sec-block .service-grid .service-content h6 a {
          color: #ffffff;
          display: block;
          padding: 12px 50px 12px 12px; }
          .service-sec-block .service-grid .service-content h6 a:hover {
            color: #fdb812; }
      .service-sec-block .service-grid .service-content a.arrow {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 50%;
        bottom: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background: #bbbbbb;
        height: 40px;
        width: 40px;
        padding: 10px;
        text-align: center; }
        .service-sec-block .service-grid .service-content a.arrow svg {
          height: 20px;
          width: 20px;
          fill: #ffffff; }
      .service-sec-block .service-grid .service-content:hover a.arrow {
        background: #fdb812; }

/*----- Welcome Section ------*/
.welcome-to-asgard-block {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 60px 0px; }
  .welcome-to-asgard-block .welcome-content-sec {
    background: #ffffff;
    padding: 30px; }
    .welcome-to-asgard-block .welcome-content-sec h3 {
      margin-bottom: 40px; }
    .welcome-to-asgard-block .welcome-content-sec #accordion .card {
      margin-bottom: 8px;
      border: none; }
      .welcome-to-asgard-block .welcome-content-sec #accordion .card .card-header {
        border: 1px solid #c5c5c5;
        border-radius: 50px;
        padding: 0px; }
        .welcome-to-asgard-block .welcome-content-sec #accordion .card .card-header a {
          display: block;
          padding: 12px 20px;
          color: #ffffff;
          position: relative;
          border-radius: 50px;
          background: #8b8b8b; }
          .welcome-to-asgard-block .welcome-content-sec #accordion .card .card-header a:after {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 20px;
            font-family: FontAwesome;
            content: "\f106"; }
          .welcome-to-asgard-block .welcome-content-sec #accordion .card .card-header a.collapsed {
            background: #ffffff;
            color: #000000; }
            .welcome-to-asgard-block .welcome-content-sec #accordion .card .card-header a.collapsed:after {
              position: absolute;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
              right: 20px;
              font-family: FontAwesome;
              content: "\f107"; }
  .welcome-to-asgard-block .container {
    position: relative; }
  .welcome-to-asgard-block .client-img {
    position: absolute;
    bottom: -60px;
    left: 0;
    z-index: 999;
    width: 56%; }
    @media only screen and (max-width: 1499px) {
      .welcome-to-asgard-block .client-img {
        width: 65%; } }

/*----- Req A Call Back Section ------*/
.req-call-back-block {
  background: #fdb812;
  padding: 60px 0px; }
  .req-call-back-block .content-block p {
    margin-bottom: 0px; }
  .req-call-back-block .form-section .form-group:first-child, .req-call-back-block .form-section .form-group:nth-child(2), .req-call-back-block .form-section .form-group:nth-child(3) {
    width: 32.9%;
    display: inline-block; }
  .req-call-back-block .form-section .form-group textarea {
    height: 50px;
    overflow: hidden; }
  .req-call-back-block .form-section .button {
    background: #525252;
    float: right;
    display: block;
    line-height: 1.8em;
    width: 180px; }

/*----- Financial Sec Block -----*/
.financial-sec-block {
  padding: 60px 0px; }
  .financial-sec-block h3 {
    font-size: 26px;
    text-align: center;
    width: 90%;
    margin: 0 auto 50px; }
  .financial-sec-block .financial-grid {
    text-align: center; }
    .financial-sec-block .financial-grid .img-sec {
      height: 63px;
      width: 63px;
      text-align: center;
      margin: 0 auto 13px;
      background: #f1f1f1;
      border-radius: 100%;
      display: inline-block;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
      .financial-sec-block .financial-grid .img-sec svg {
        height: 35px;
        width: 35px;
        margin-top: 14px;
        fill: #000000; }
        .financial-sec-block .financial-grid .img-sec svg path {
          fill: #000000; }
      .financial-sec-block .financial-grid .img-sec:hover {
        background: #fdb812;
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg); }
        .financial-sec-block .financial-grid .img-sec:hover svg {
          fill: #ffffff; }
          .financial-sec-block .financial-grid .img-sec:hover svg path {
            fill: #ffffff; }
    .financial-sec-block .financial-grid h5 a {
      color: #000000;
      text-transform: uppercase; }
      .financial-sec-block .financial-grid h5 a:hover {
        color: #fdb812; }

/*----- Newsletter Section Block -----*/
.newsletter-section-block {
  background: #2a2a2a;
  padding: 50px 0px; }
  .newsletter-section-block .content-sec {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px; }
    .newsletter-section-block .content-sec h3 {
      margin-bottom: 0px;
      font-size: 32px;
      color: #ffffff;
      font-weight: 500; }
      @media only screen and (max-width: 1499px) {
        .newsletter-section-block .content-sec h3 {
          font-size: 28px; } }
      .newsletter-section-block .content-sec h3 small {
        font-size: 32px;
        font-weight: 300; }
        @media only screen and (max-width: 1499px) {
          .newsletter-section-block .content-sec h3 small {
            font-size: 28px; } }
  .newsletter-section-block .newsletter-form {
    display: inline-block;
    width: calc(100% - 58%);
    vertical-align: middle; }
    @media only screen and (max-width: 1499px) {
      .newsletter-section-block .newsletter-form {
        width: calc(100% - 61%); } }
    .newsletter-section-block .newsletter-form form {
      position: relative; }
      .newsletter-section-block .newsletter-form form .button {
        position: absolute;
        top: 0;
        right: 0;
        width: 190px; }
        @media only screen and (max-width: 1499px) {
          .newsletter-section-block .newsletter-form form .button {
            padding: 3px 15px;
            width: 150px; } }
      .newsletter-section-block .newsletter-form form .form-group {
        margin-bottom: 0px; }

/*----- Need More Help -----*/
.need-more-help {
  padding: 50px 0px;
  text-align: center; }
  .need-more-help .title-section {
    margin-bottom: 50px; }
    .need-more-help .title-section h2 {
      color: #000000;
      margin-bottom: 0px; }
    .need-more-help .title-section span {
      font-size: 26px;
      color: #000000;
      font-weight: 300; }
      @media only screen and (max-width: 1499px) {
        .need-more-help .title-section span {
          font-size: 20px; } }
  .need-more-help .grid-item {
    background: #f2f2f1;
    padding: 40px 28px;
    min-height: 180px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
    .need-more-help .grid-item:hover {
      -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
      transform: translateY(-7px); }
    .need-more-help .grid-item h5 {
      font-weight: 500; }
    .need-more-help .grid-item p {
      line-height: 1.5em;
      margin-bottom: 10px; }
    .need-more-help .grid-item a {
      color: #000000;
      font-size: 22px;
      font-weight: 500; }
      .need-more-help .grid-item a:hover {
        color: #fdb812; }

/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/
.footer-wrapper .footer-top {
  background: #222229;
  padding: 70px 0px 20px; }
  .footer-wrapper .footer-top .footer-content {
    display: inline-block;
    vertical-align: top; }
    .footer-wrapper .footer-top .footer-content:first-child {
      width: 34%; }
    .footer-wrapper .footer-top .footer-content:nth-child(2) {
      width: 30%;
      margin: 0 65px 0 80px; }
    .footer-wrapper .footer-top .footer-content:nth-child(3) {
      width: 22%; }
    .footer-wrapper .footer-top .footer-content .footer-logo {
      margin-bottom: 10px; }
    .footer-wrapper .footer-top .footer-content p {
      color: #ffffff; }
    .footer-wrapper .footer-top .footer-content .social-share li a {
      color: #ffffff; }
      .footer-wrapper .footer-top .footer-content .social-share li a:hover {
        color: #fdb812; }
    .footer-wrapper .footer-top .footer-content h4 {
      color: #ffffff;
      margin-bottom: 20px; }
    .footer-wrapper .footer-top .footer-content ul.nav-link {
      display: inline-block;
      width: 49%;
      vertical-align: top;
      padding: 0px; }
      .footer-wrapper .footer-top .footer-content ul.nav-link li {
        margin-bottom: 5px; }
        .footer-wrapper .footer-top .footer-content ul.nav-link li a {
          color: #ffffff;
          font-size: 15px;
          font-weight: 300; }
          .footer-wrapper .footer-top .footer-content ul.nav-link li a:hover {
            color: #fdb812; }
    .footer-wrapper .footer-top .footer-content .contact-info li {
      position: relative;
      margin-bottom: 15px; }
      .footer-wrapper .footer-top .footer-content .contact-info li:last-child {
        margin-bottom: 0px; }
    .footer-wrapper .footer-top .footer-content .contact-info .icon {
      position: absolute;
      left: 0;
      top: 0;
      height: 20px;
      width: 20px;
      color: #ffffff;
      font-size: 20px; }
      .footer-wrapper .footer-top .footer-content .contact-info .icon i {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0; }
    .footer-wrapper .footer-top .footer-content .contact-info .info {
      margin-left: 22px; }
      .footer-wrapper .footer-top .footer-content .contact-info .info span, .footer-wrapper .footer-top .footer-content .contact-info .info a {
        color: #ffffff;
        font-size: 15px;
        font-weight: 300; }
      .footer-wrapper .footer-top .footer-content .contact-info .info a:hover {
        color: #fdb812; }

.footer-wrapper .footer-bottom {
  background: #1c1c21;
  padding: 15px 0px;
  text-align: center; }
  .footer-wrapper .footer-bottom span {
    color: #999999;
    font-size: 14px;
    font-weight: 300; }

/*---------------------------------------------------------------
6.0 Responsive
---------------------------------------------------------------*/
@media only screen and (min-width: 1500px) {
  .container {
    max-width: 1340px; } }
