/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/

.footer-wrapper {
    .footer-top {
        background: #222229;
        padding: 70px 0px 20px;
        .footer-content {
            display: inline-block;
            vertical-align: top;
            &:first-child {
                width: 34%;
            }
            &:nth-child(2) {
                width: 30%;
                margin: 0 65px 0 80px;
            }
            &:nth-child(3) {
                width: 22%;
            }
            .footer-logo {
                margin-bottom: 10px;
            }
            p {
                color: $color-white;
            }
            .social-share {
                li {
                    a {
                        color: $color-white;
                        &:hover {
                            color: $color-yellow;
                        }
                    }
                }
            }
            h4 {
                color: $color-white;
                margin-bottom: 20px;
            }
            ul.nav-link {
                display: inline-block;
                width: 49%;
                vertical-align: top;
                padding: 0px;
                li {
                    margin-bottom: 5px; 
                    a {
                        color: $color-white;
                        font-size: 15px;
                        font-weight: $font-weight-light;
                        &:hover {
                            color: $color-yellow;
                        }
                    }
                }
            }
            .contact-info {
                li {
                    position: relative;
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
                .icon {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 20px;
                    width: 20px;
                    color: $color-white;
                    font-size: 20px;
                    i {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                    }
                }
                .info {
                    margin-left: 22px;
                    span, a {
                        color: $color-white;
                        font-size: 15px;
                        font-weight: $font-weight-light;
                    }
                    a {
                        &:hover {
                            color: $color-yellow;
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        background: #1c1c21;
        padding: 15px 0px;
        text-align: center;
        span {
            color: #999999;
            font-size: 14px;
            font-weight: $font-weight-light;
        }
    }
}