/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

.header {
    border-top: 4px solid $color-yellow;
}
.header .navbar {
    padding: 0px;
}
.header .navbar ul li a {
    font-size: 15px;
    color: $color-black;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    padding: 0px;
    transition: all 0.3s ease-in-out 0s;
}
.header .navbar ul li a:hover {
    color: $color-yellow;
} 
.header .navbar ul li {
    margin: 0 15px;
}
.header .navbar ul.contact-info {
    margin-left: 40px;
}
.header .navbar ul li {
    position: relative;
}
.header .navbar ul.nav li.current-menu-item a::after,
.header .navbar ul.nav li:hover a::after {
    content: "";
    background: $color-yellow;
    height: 2px;
    width: 85%;
    text-align: center;
    margin: 4px auto 0px;
    display: block;
}
.header .navbar ul li.telephone-sec::before {
    position: absolute;
    content: "\f095";
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    font-family: FontAwesome;
    color: $color-yellow;
}
.header .navbar ul li:last-child {
    margin-right: 0px;
}
.header .navbar ul li.login-sec a {
    background: $color-yellow;
    display: inline-block;
    width: 100px;
    color: $color-white;
    text-align: center;
    line-height: 2.5em;
    border-radius: 50px;
    border: 1px solid $color-yellow;
}
.header .navbar ul li.login-sec a:hover {
    background: $color-white;
    color: $color-yellow;
}
.header .navbar .collapse {
    padding-top: 15px;
}