/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/

svg.hidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/*----- Banner Section -----*/

.banner-section {
    @include background(center center, cover);
    padding: 50px 0px;
    .banner-form-sec {
        background: $color-white;
        border-radius: 8px;
        padding: 30px;
        width: 430px;
        @include breakpoint(x-normal) {
           width: 400px;
        }
        h3 {
            font-weight: $font-weight-medium;
            text-transform: $text-uppercase;
            small {
                font-size: 30px;
                font-weight: $font-weight-light;
                margin-left: 5px;
                @include breakpoint(x-normal) {
                   font-size: 24px;
                }
            }
        }
        span {
            margin-bottom: 30px;
            display: block;
        }
        form {
            .form-group {
                margin-bottom: 10px;
            }
            .button {
                width: 100%;;
                margin-top: 20px;
                font-size: 22px;
                font-weight: $font-weight-medium;
                padding: 5px;
                @include breakpoint(x-normal) {
                   font-size: 18px;
                    margin-top: 15px;
                }
            }
        }
    }
}

/*----- Services Section -----*/

.service-section-block {
    margin-top: -15px;
    ul {
        background: $color-white;
        padding: 30px 20px 30px 60px;
        border-radius: 8px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        li {
            width: 24%;
            display: inline-block;
            border-right: 2px solid #b6b6b6;
            position: relative;
            text-align: center;
            margin: 0 auto;
            span {
                font-size: 17px;
                color: $color-black;
                font-weight: $font-weight-medium;
                margin-bottom: 0px;
                padding-left: 40px;
                display: inline-block;
                text-align: left;
                &.icon {
                    position: absolute;
                    left: 30px;
                    top: 50%;
                    transform: translateY(-50%);
                    padding-left: 0px;
                }
            }
            &:last-child {
                border: none;
            }
            &:first-child {
                .icon {
                    left: 10px;
                }
            }
        }
    }
}

/*---- Service Sec Section -----*/

.service-sec-block {
    padding: 70px 0px;
    .service-grid-content {
        a {
            display: inline-block;
            background: $color-yellow;
            border: 1px solid $color-yellow;
            border-radius: 50px;
            color: $color-white;
            font-size: 16px;
            font-weight: $font-weight-medium;
            width: 188px;
            line-height: 3.5em;
            text-align: center;
            margin-top: 15px;
            letter-spacing: 1px;
            &:hover {
                background: $color-white;
                color: $color-yellow;
            }
        }
    }
    .service-grid {
        height: 275px;
        @include background(center center, cover);
        position: relative;
        .service-content {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.7);
            h6 {
                margin-bottom: 0px;
                a {
                    color: $color-white;
                    display: block;
                    padding: 12px 50px 12px 12px;
                    &:hover {
                        color: $color-yellow;
                    }
                }
            }
            a.arrow {
                display: inline-block;
                position: absolute;
                right: 0;
                top: 50%;
                bottom: 0;
                transform: translateY(-50%);
                background: $color-grey;
                height: 40px;
                width: 40px;
                padding: 10px;
                text-align: center;
                svg {
                    height: 20px;
                    width: 20px;
                    fill: $color-white;
                }
            }
            &:hover {
                a.arrow {
                    background: $color-yellow;
                }
            }
        }
    }
}

/*----- Welcome Section ------*/

.welcome-to-asgard-block {
    @include background(center center, cover);
    padding: 60px 0px;
    .welcome-content-sec {
        background: $color-white;
        padding: 30px;
        h3 {
            margin-bottom: 40px;
        }
        #accordion {
            .card {
                margin-bottom: 8px;
                border: none;
                .card-header {
                    border: 1px solid #c5c5c5;
                    border-radius: 50px;
                    padding: 0px;
                    a {
                        display: block;
                        padding: 12px 20px;
                        color: $color-white;
                        position: relative;
                        border-radius: 50px;
                        background: #8b8b8b;
                        &:after {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 20px;
                            font-family: FontAwesome;
                            content: "\f106";
                        }
                        &.collapsed {
                            background: $color-white;
                            color: $color-black;
                            &:after {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 20px;
                                font-family: FontAwesome;
                                content: "\f107";
                            }
                        }
                    }
                }
            }
        }
    }
    .container {
        position: relative;
    }
    .client-img {
        position: absolute;
        bottom: -60px;
        left: 0;
        z-index: 999;
        width: 56%;
        @include breakpoint(x-normal) {
            width: 65%;
        }
    }
}

/*----- Req A Call Back Section ------*/

.req-call-back-block {
    background: $color-yellow;
    padding: 60px 0px;
    .content-block {
        p {
            margin-bottom: 0px;
        }
    }
    .form-section {
        .form-group {
            &:first-child,
            &:nth-child(2),
            &:nth-child(3) {
                width: 32.9%;
                display: inline-block;
            }
            textarea {
                height: 50px;
                overflow: hidden;
            }
        }
        .button {
            background: #525252;
            float: right;
            display: block;
            line-height: 1.8em;
            width: 180px;
        }
    }
}

/*----- Financial Sec Block -----*/

.financial-sec-block {
    padding: 60px 0px;
    h3 {
        font-size: 26px;
        text-align: center;
        width: 90%;
        margin: 0 auto 50px;
    }
    .financial-grid {
        text-align: center;
        .img-sec {
            height: 63px;
            width: 63px;
            text-align: center;
            margin: 0 auto 13px;
            background: #f1f1f1;
            border-radius: 100%;
            display: inline-block;
            transition: all 0.3s ease-in-out 0s;
            svg {
                height: 35px;
                width: 35px;
                margin-top: 14px;
                fill: $color-black;
                path {
                    fill: $color-black;
                }
            }
            &:hover {
                background: $color-yellow;
                transform: rotate(360deg);
                svg {
                    fill: $color-white;
                    path {
                        fill: $color-white;
                    }
                }
            }
        }
        h5 {
              a {
                color: $color-black;
                text-transform: uppercase;
                &:hover {
                    color: $color-yellow;
                }
            }
        }
    }
}

/*----- Newsletter Section Block -----*/

.newsletter-section-block {
    background: #2a2a2a;
    padding: 50px 0px;
    .content-sec {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        h3 {
            margin-bottom: 0px;
            font-size: 32px;
            color: $color-white;
            font-weight: $font-weight-medium;
            @include breakpoint(x-normal) {
               font-size: 28px;
            }
            small {
                font-size: 32px;
                font-weight: $font-weight-light;
                @include breakpoint(x-normal) {
                   font-size: 28px;
                }
            }
        }
    }
    .newsletter-form {
        display: inline-block;
        width: calc(100% - 58%);
        vertical-align: middle;
        @include breakpoint(x-normal) {
           width: calc(100% - 61%);
        }
        form {
            position: relative;
            .button {
                position: absolute;
                top: 0;
                right: 0;
                width: 190px;
                @include breakpoint(x-normal) {
                    padding: 3px 15px;
                    width: 150px;
                }
            }
            .form-group {
                margin-bottom: 0px;
            }
        }
    }
}

/*----- Need More Help -----*/

.need-more-help {
    padding: 50px 0px;
    text-align: center;
    .title-section {
        margin-bottom: 50px;
        h2 {
            color: $color-black;
            margin-bottom: 0px;
        }
        span {
            font-size: 26px;
            color: $color-black;
            font-weight: $font-weight-light;
             @include breakpoint(x-normal) {
                font-size: 20px;
            }
        }
    }
    .grid-item {
        background: #f2f2f1;
        padding: 40px 28px;
        min-height: 180px;
        transition: all 0.3s ease-in-out 0s;
        &:hover {
            transform: translateY(-7px);
        }
        h5 {
            font-weight: $font-weight-medium;
        }
        p {
            line-height: 1.5em;
            margin-bottom: 10px;
        }
        a {
            color: $color-black;
            font-size: 22px;
            font-weight: $font-weight-medium;
            &:hover {
                color: $color-yellow;
            }
        }
    }
}