//  Variables Sections  //

//Colors
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #bbbbbb;
$grey-bdr: #ebebeb;
$color-yellow: #fdb812;

//Font Family 
$font-family: 'Poppins', sans-serif;

//Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-semibold: 600;

//Text Transform
$text-uppercase: uppercase;
$text-capitalize: capitalize;